os: linux
language: shell
services:
- docker
before_script:
- mkdir cache
- echo "${TRAVIS_REPO_SLUG#*/}" > cache/CNAME
- docker-compose run themebuilder npm --prefix app/themes/bulma install
- docker-compose run themebuilder npm --prefix app/themes/bulma run build
- find themes/bulma/*/ -type d -name "node_modules" -prune -o -type f \( -iname *.css -o -iname *.jpg -o -iname *.js \) -exec cp --parents \{\} ./cache \;
script:
- docker-compose run --user "$TRAVIS_UID" -e "USER=$TRAVIS_UID" -e "SS_BASE_URL=//${TRAVIS_REPO_SLUG#*/}" cli make deploy
deploy:
  provider: pages
  token: "$GITHUB_TOKEN"
  keep_history: true
  on:
    branch: master
  local_dir: cache
  strategy: git
notifications:
  slack:
    secure: gQgqWLVYv6GQeKe0YMIorxt8Rbf16OyXDsLNnUcykFRNmKA7oSzlcLfqDz6aiU1jq5ofbTYrbRF+zrjwh+hh37QLMwx4p2aF1cadoxDXmLCn1/VotZQvAMVHTaemzNgijg2DJnKxm3eC8Tz8hD1ooq1798WtwpopOLfG/jGsb41uoDLIr9S2zQ+jW2b5wv2hMuFwdPqbKHu++L4VjDjnKW9QWTSwJUbZIUAOnaJx3nbgrmma4UwOIEJcZdO6S0h0MuUw8IXAqeoHSVo0oQzMFiE5Sk3SJwaiRUXYR2Ak3Fl0J9vNl6PAs8E11MfXTkS0vmRy5Zowm4wmw4MB+gvEFk01tC0hAn4hwbAZPQjt5ZXDl0IxYI1i9gKlSUz09t14pJ1zFadt+SlwtweRxgQo3GbdHpX4DbHS+oPgZ8oBmJ0LZ9IbMrCWpZ0JZcin429Dqhw/D+UtefSYwj+GFc6BOz1+pJbGqa9HdlzPeYpQv5fQa6OW0GWc29Kv15ew3QeQ6o7DtryYaZizLQDGglJsNoiAx2KI4pP0VTYkCbfefkNBXVCzD+ouNdQvakjj1pZD2ePN4L6Txq15l2cC6pYiq8djarqhc8+8RHDq6mSW36f5ERa4LvcYPgKIjNQz/wgyHZSquHroBt1VONx+lyvimsrrRNimJMo+wFylAN+cKoQ=
