@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono');

$black:        hsl(0, 0%, 4%);

// Set brand colors
$blue: #172237;
$brown: #35291e;

$grey-darker: #202323;
$grey-dark: #535352;
$grey: #70563f;
$grey-light: #939397;

$beige-light: #c28d6f;
$beige-lighter: #eecdb5;


// Update Bulma's global variables
$family-sans-serif: 'Ubuntu Mono', monospace;

$primary: $grey;
$link: $black;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #cca58d;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$text: $grey-darker;
$text-light: $grey;
//$text-strong: $grey-darker;
//$box-color: $text-strong;
//$tag-color: $text-strong;

$hr-margin: 1.75rem 0;

$column-gap: 1.5em;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all";
@import "../node_modules/bulma/sass/base/_all";
html {
  background-blend-mode: saturation;
  background-size: cover;
}

@import "../node_modules/bulma/sass/elements/box";
@import "../node_modules/bulma/sass/elements/button";
@import "../node_modules/bulma/sass/elements/container";

$icon-dimensions: 1em;
@import "../node_modules/bulma/sass/elements/icon";
.icon {
  vertical-align: middle;
}

@import "../node_modules/bulma/sass/elements/tag";
@import "../node_modules/bulma/sass/elements/title";

@import "../node_modules/bulma/sass/components/_all";
@import "../node_modules/bulma/sass/grid/_all";
@import "../node_modules/bulma/sass/layout/_all";

header {
  > div {
    padding: 0 1.25em;
  }
  text-align: center;
  .app-header-avatar {
    border-radius: 0.5em;
  }
  h1 {
    font-size: 1.5rem;
    margin: 10px 0 15px;
    i {
      color: $grey-light;
    }
  }
  .box {
    background: rgba(194, 141, 111, 0.5);
    border-radius: 4px;
  }
  p {
    color: lightgray;
    text-shadow: -1px 0 rgba(0, 0, 0, 0.7), 0 1px rgba(0, 0, 0, 0.8), 1px 0 rgba(0, 0, 0, 0.7), 0 -1px rgba(0, 0, 0, 0.7);
    padding: 4px 2px;
    line-height: 23px;
    strong {
      color: lightgray;
      font-weight: 400;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
  a.button {
    width: 100%;
    color: white;
    background-color: darkblue;
    border-color: gray;
  }
  .app-header-social {
    font-size: 2em;
    color: #e8eaf6;
    a {
      margin: 0 .1em;
    }
  }
}



main.column {
  flex-grow: 4;
}

blockquote {
  background: rgba(194, 141, 111, 0.5);
  border-radius: 8px;
  padding: 4px 8px;
}

article {
  &.post {
    padding: 2.5em 1.25em 0;
    margin-bottom: 24px;
    article {
      &:not(:last-child) {
        border-bottom: 1px solid black;
      }
    }
  }
  p {
    padding-bottom: 0.5em;
  }
  div {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .tag {
      margin-bottom: 0.5em;
    }
  }
}

hgroup {
  align-items: flex-start;
  align-content: stretch;
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  > * {
    flex: 1 100%;
  }
  picture {
    display: flex;
    align-items: center;
    &.is-64x64 {
      height: 64px;
      width: 64px;
    }
    svg {
      height: 100%;
      width: 100%;
      path {
        fill: black;
      }
    }
  }
  h3 {
    font-size: 1.25em;
    line-height: 1em;
    text-align: left;
    padding-left: 16px;
  }
  //h4 {
  //  display:none;
  //  align-items: flex-start;
  //  font-size: 1.25em;
  //  line-height: 0.8em;
  //  text-align: center;
  //}
  address {
    display:none;
    align-items: flex-end;
    text-align: center;
    font-size: 1.125em;
    line-height: 0.8888em;
  }
  time {
    flex-shrink: 1;
    text-align: right;
    font-size: 1em;
    line-height: 1em;
  }
}

.tag {
  display: inline-block;
  margin-right: .2em;
  padding: 0 .6em;
  font-size: .9em;
  border-radius: .2em;
  white-space: nowrap;
  background: rgba(255, 255, 255, .1);
  transition: background .8s;

  &:hover {
    background: rgba(255, 255, 255, .3)
  }
}

footer {
  background: black;
  color: #fff;
  margin-bottom: 22px;
  padding: 12px;
}

@media(min-width: 940px) {
  hgroup {
    align-items: center;
    picture {
      flex: none;
    }
    h3 {
      font-size: 1.5em;
    }
    h4, address {
      display: block;
    }
  }
  article {
    div {
      justify-content: flex-start;
    }
  }
}
